.button {
  margin: 15px 0;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  scale: 1.5;
}
.button:hover {
  color: var(--secondary-color);
  transition: all 0.3s ease 0s;
}
