:root {
  --primary-color: #000000;
  --secondary-color: #fe95b4;
  --tertiary-color: #00cdcd;
}
body {
  background-color: var(--primary-color);
  font-family: "Numans", sans-serif;
  color: var(--secondary-color);
}
#page-wrapper {
  position: relative;
}
.logo > img {
  width: 100%;
  height: 100%;
  max-width: 18rem;
}
header {
  position: absolute;
  display: flex;
  min-height: 4rem;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
}
a {
  color: var(--secondary-color);
  text-decoration: none;
}
a:hover {
  color: var(--tertiary-color);
}
#subscribe {
  color: var(--tertiary-color);
}
#subscribe:hover {
  color: var(--secondary-color);
}
nav {
  margin-top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  padding: 0 50px;
  background-color: var(--primary-color);
}
li {
  display: inline;
  padding: 3rem;
}
form {
  padding: 0.5rem;
}
fieldset {
  margin-top: 13rem;
  padding: 0.75rem;
  text-align: center;
  max-width: 14rem;
  border: 3px solid var(--tertiary-color);
}
#submit {
  margin: 15px 0;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  scale: 1.5;
}
#submit:hover {
  color: var(--secondary-color);
}
#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.give-get-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  padding: 1rem;
  border: 3px solid var(--tertiary-color);
  border-radius: 0.5rem;
}
.give-get-container > .level {
  background-color: var(--secondary-color);
  font-size: 1.2rem;
  color: var(--primary-color);
  padding: 1rem;
  width: 100%;
  text-transform: uppercase;
}
.give-get-container > h2 {
  margin-top: 15px;
  color: var(--tertiary-color);
}
.give-get-container > button {
  margin: 15px 0;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  scale: 1.5;
}
button:hover {
  color: var(--secondary-color);
}
@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .give-get-container {
    max-width: 300px;
    width: 100%;
  }
}
